<div ng-controller="AppCtrl" ng-init="init()">
  <div class="row">
    <div class="span2">
      <ul class="nav nav-list well">
        <li>
          <a ui-sref="home.portal">ポータル</a>
        </li>
        <li>
          <a ui-sref="home.chat">チャット</a>
        </li>
        <li>
          <a ui-sref="setting">設定</a>
        </li>
        <li>保守
          <ul>
            <li>
              <a ui-sref="home.mntCustmer">顧客メンテナンス</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="span10">
      <div ui-view></div>
    </div>
  </div>
</div>