body {
    padding-top: 5px;
}

.navbar {
    margin-bottom: 5px !important;
}
.navbar-inner {
    height: 60px !important;
}

.clsMainTitle {
}

.clsTitleRightArea {
    float:right ;    
}

.clsMenuLeft {
    
}

.clsMenuRight {
    
}

.clsLogoutBtn {
    float:right ;    
}